.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

body {
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navbar, .navbar a, navbar button span {
  color: #FFF !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
